/* ------global------- */

body {
    font-family: 'Spartan', sans-serif;
}

h1 {
    text-align: center;
}

.charts {
    width: 80%;
    margin: 20px;
    margin-left: 140px;
}


/* ------ Home ------- */



.home_crypto > img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.home_crypto {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 50px;
    text-align: justify;
}

.home_crypto > h1 {
    text-align: center;
}

.how_it_works {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 50px;
    text-align: justify;
}

.how_it_works > img {
    width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* ---Knowledge ---*/

.knowledge {
    text-align: justify;
    margin-left: 130px;
    margin-right: 130px;
}

 .knowledge > img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
 }

/* Cryptocurrencies > What is Bitcoin */

.what_is_bitcoin {
    text-align: justify;
    margin-left: 130px;
    margin-right: 130px;
}

.what_is_bitcoin > img {
   width: 80%;
   height: auto;
   display: block;
   margin: 0 auto;
}

.charts {
    width: 80%;
   height: auto;
   display: block;
   margin: 0 auto;
   margin-top: 30px;
}

/*---trading---*/
.trading {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 20px;
    text-align: justify;
}

.trading > img {
    width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
}
